{% extends "::layout/layout.html.twig" %}

{% block body %}
<div class="container main">
    <div class="row">
        <a href="{{ path('easygestion_homepage') }}">Retour</a>
    </div>
    
    <div class="row">
        <h1><strong>Les Besoins</strong></h1>
    </div>
    
    <div class="row">
        {{ dump(ia) }}
        {{ dump(besoins) }}
        {{ dump(client) }}
        
        <form>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Date de création</th>
                        <th>IA</th>
                        <th>Priorité</th>
                        <th>Client</th>
                        <th>Type métier</th>
                        <th>Description</th>
                        <th>Début</th>
                        <th>Durée</th>
                        <th>Solutions</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for b in besoins %}
                        {% if b.archive == 0 %}
                            <tr>
                                <td>{{ b.status }}</td>
                                <td>{{ b.dateCreation.date | date('d-m-Y') }}</td>
                                <td>{{ b.ia.initials | upper}}</td>
                                <td>{{ b.priority }}</td>
                                <td>{{ b.client.name }}</td>
                                <td>Info</td>
                                <td>Développeur C#</td>
                                <td>{{ b.start.date | date('d-m-Y') }}</td>
                                <td>{{ b.duration ~ ' mois'}}</td>
                                <td>Cédric Durand</td>
                                <td>
                                    <a href="{{ path('easygestion_mesbesoins_edit', {'id': b.id}) }}" class="btn glyphicon glyphicon-wrench"></a>
                                    <a href="{{ path('easygestion_mesbesoins_archive', {'id': b.id}) }}" class="btn glyphicon glyphicon-trash"></a> 
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
</div>
{% endblock %}

