{% extends "::base.html.twig" %}

{% block body %}
    <div class="main" style="margin-top: 100px;">
        <div class="row">
            <div class="col-md-3">
                <a href="#">
                    <div class="link">
                        <img src="{{ asset('img/logo.jpeg') }}" width="80px">
                        <div class="clear"></div><span>Mes besoins</span>
                    </div>
                </a>
            </div>
            
            <div class="col-md-3">
                <a href="#">
                    <div class="link">
                        <img src="{{ asset('img/logo.jpeg') }}" width="80px">
                        <div class="clear"></div><span>Besoins archivés</span>
                    </div>
                </a>
            </div>
                        
            <div class="col-md-3">
                <a href="#">
                    <div class="link">
                        <img src="{{ asset('img/logo.jpeg') }}" width="80px">
                        <div class="clear"></div><span>Les clients</span>
                    </div>
                </a>
            </div>
            
            <div class="col-md-3">
                <a href="#">
                    <div class="link">
                        <img src="{{ asset('img/logo.jpeg') }}" width="80px">
                        <div class="clear"></div><span>Business Plan</span>
                    </div>
                </a>
            </div>
                        
            <div class="col-md-3">
                <a href="#">
                    <div class="link">
                        <img src="{{ asset('img/logo.jpeg') }}" width="80px">
                        <div class="clear"></div><span>Mon profil</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
  
{% endblock %}

