{% extends "::base.html.twig" %}

{% block body %}
    
    <div class="navigation btn-group">
        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                style="margin-left: 10px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" 
            class="glyphicon glyphicon-arrow-left">
        </button>
        <ul class="dropdown-menu">
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ path('mes_besoins') }}">Mes besoins</a></li>
            <li><a href="{{ path('besoins_archives') }}">Besoins archivés</a></li>
            <li><a href="{{ path('mes_clients') }}">Clients</a></li>
            <li><a href="{{ path('home_bp', {'annee': c_year, 'mois': c_month}) }}">Business Plan</a></li>
            <li><a href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
        </ul>
    </div>
    
    <div class="main" style="margin-top: 20px;">
           
        <div class="row">
            <div class="col-md-3">
                <a href="{{ path('mes_besoins') }}">
                    <div class="link">
                        <img src="{{ asset('img/logo.jpeg') }}" width="80px">
                        <div class="clear"></div><span>Mes besoins</span>
                    </div>
                </a>
            </div>
            
            <div class="col-md-3">
                <a href="{{ path('besoins_archives') }}">
                    <div class="link">
                        <img src="{{ asset('img/logo.jpeg') }}" width="80px">
                        <div class="clear"></div><span>Besoins archivés</span>
                    </div>
                </a>
            </div>
                        
            <div class="col-md-3">
                <a href="{{ path('mes_clients') }}">
                    <div class="link">
                        <img src="{{ asset('img/logo.jpeg') }}" width="80px">
                        <div class="clear"></div><span>Clients</span>
                    </div>
                </a>
            </div>
            
            <div class="col-md-3">
                <a href="{{ path('home_bp', {'annee': c_year, 'mois': c_month}) }}">
                    <div class="link">
                        <img src="{{ asset('img/logo.jpeg') }}" width="80px">
                        <div class="clear"></div><span>Business Plan</span>
                    </div>
                </a>
            </div>
                        
            <div class="col-md-3">
                <a href="{{ path('fos_user_profile_show') }}">
                    <div class="link">
                        <img src="{{ asset('img/logo.jpeg') }}" width="80px">
                        <div class="clear"></div><span>Mon profil</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
  
{% endblock %}

