{% extends "::base.html.twig" %}

{% block body %}
    
    {# Retour #}
    <div>
        <div class="navigation btn-group">
            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" 
                class="glyphicon glyphicon-arrow-left">
            </button>
            <ul class="dropdown-menu">
                <li><a href="{{ path('homepage') }}">Home</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ path('home_ia') }}">Home Ia</a></li>
                <li><a href="{{ path('besoins_archives') }}">Besoins archivés</a></li>
                <li><a href="#">Clients</a></li>
                <li><a href="{{ path('home_bp', {'annee': c_year, 'mois': c_month}) }}">Business Plan</a></li>
                <li><a href="#}">Mon profil</a></li>
            </ul>
        </div>
    
    <div class="clear"></div> <br>
    
    <div>
        <a href="{{ path('besoin_new') }}" class="btn btn-success glyphicon glyphicon-plus"></a>
    </div>
    
    <div class="clear"></div> <br>  
    
    <div>
        {{ sg_datatables_render(datatable) }}
    </div>
        
{# Script #}   
<script>
    $(document).ready(function(){
        $(".nav-tabs a").click(function(){
            $(this).tab('show');
        });
    });
</script>
{% endblock %}

