{% extends "::layout/layout.html.twig" %}

{% block body %}
   <div class="container main" style="margin-top: 100px;">
        <div class='row '>
            
                            {{ besoin.id }}
                            {{ besoin.status }}
                            {{ besoin.priority }}
                            {{ besoin.client.name }}
                            
                            
                            {{ form_widget(form) }}
        </div>
        
   </div>
{% endblock %}

