{% extends "::layout/layout.html.twig" %}

{% block body %}
   
   
   <div class="row">
       <div class="col-md-offset-2">
           
            <div class="col-md-4">
                <a href="#" data-toggle="modal" data-target="#login-modal">
                    <div class="link">
                        <img src="{{ asset('img/logo.jpeg') }}" width="160px">
                        <div class="clear"></div><span>Directeur</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ path('easygestion_directeur') }}">
                    <div class="link" id="parents">
                        <img src="{{ asset('img/logo.jpeg') }}" width="160px">
                        <div class="clear"></div><span>Julien</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
              <a href="{{ path('easygestion_ia') }}" id="students">
                    <div class="link teachers">
                        <img src="{{ asset('img/logo.jpeg') }}" width="160px">
                        <div class="clear"></div><span>Ingénieur d'affaires</span>
                    </div>
              </a>
            </div>
       </div>    
    </div>
                    
    
    {# Formulaire de Login #}
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" 
        aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                    <h1>Se connecter</h1><br>
              <form>
                    <input type="text" name="user" placeholder="Pseudo">
                    <input type="password" name="pass" placeholder="Password">
                    <input type="submit" name="login" class="login loginmodal-submit" value="Connexion">
              </form>

              <div class="login-help">
                    <a href="#">Register</a> - <a href="#">Forgot Password</a>
              </div>
            </div>
        </div>
    </div>
{% endblock %}

