{% extends "::layout/layout.html.twig" %}

{% block body %}
    
   <div class="row">
       <div class="col-md-offset-1">
           
            <div class="col-md-3">
              <a href="{{ path('easygestion_directeur') }}" id="teachers">
                  <div class="link">
                    <img src="{{ asset('img/logo.jpeg') }}" width="160px">
                    <div class="clear"></div><span></span>
                 </div>
              </a>
            </div>

            <div class="col-md-3">
              <a href="{{ path('easygestion_ia') }}" id="students">
                    <div class="link teachers">
                        <img src="{{ asset('img/logo.jpeg') }}" width="160px">
                        <div class="clear"></div><span></span>
                    </div>
              </a>
            </div>

            <div class="col-md-3">
              <a href="{{ path('easygestion_directeur') }}">
                  <div class="link" id="parents">
                    <img src="{{ asset('img/logo.jpeg') }}" width="160px">
                    <div class="clear"></div><span></span>
                 </div>
              </a>
            </div>
           
           <div class="col-md-3">
              <a href="{{ path('easygestion_directeur') }} ">
                  <div class="link" id="parents">
                    <img src="{{ asset('img/logo.jpeg') }}" width="160px">
                    <div class="clear"></div><span></span>
                 </div>
              </a>
            </div>
       </div>    
    </div>  
{% endblock %}

