{% extends "::base.html.twig" %}

{% block body %}
    
    <div class="main">   

        <div class="clear"></div> <br>

        <div class="col-md-8 col-md-offset-2">
            <div class="login"> 
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <h1> Bonjour {{ app.user }} </h1>
                {% else %}
                    <h1> Login </h1>
                {% endif %}
                <div class="clear"></div>
                
                <div id="login_form">
                    {{ render(controller('FOSUserBundle:Security:login')) }}
                </div>
            </div>
        </div>
                
        <div class="clear"></div> <br><br>

        <div class="col-md-8 col-md-offset-2">
            <div id="action">
                <div class="col-md-4">
                   {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                       {% if is_granted("ROLE_ADMIN") %}
                           <a href="{{ path('home_report') }}">
                                <div class="link">
                                    <img src="{{ asset('img/logo.jpeg') }}" width="160px">   
                       {% else %}
                           <a href="#" id="reunion">
                               <div class="link">
                                    <img src="{{ asset('img/interdit.png') }}" width="160px">   
                       {% endif %}                      
                   {% endif %}
                           <div class="clear"></div><span>Reporting</span>
                       </div>
                   </a>
                </div>
                <div class="col-md-4">
                   {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                       {% if is_granted("ROLE_ADMIN") %}
                           <a href="{{ path('gestion_index') }}">
                                <div class="link">
                                    <img src="{{ asset('img/logo.jpeg') }}" width="160px">   
                       {% else %}
                           <a href="#" id="reunion">
                               <div class="link">
                                    <img src="{{ asset('img/interdit.png') }}" width="160px">   
                       {% endif %}                      
                   {% endif %}
                                <div class="clear"></div><span>Réunion business</span>
                       </div>
                   </a>
                </div>
                <div class="col-md-4">
                   {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                   <a href="{{ path('home_ia') }}">                 
                   {% else %}
                   <a href="#" id="ia">
                   {% endif %}
                       <div class="link">
                            <img src="{{ asset('img/logo.jpeg') }}" width="160px">
                            <div class="clear"></div><span>Ingénieur d'affaires</span>
                       </div>
                    </a>
                </div>
           </div>
        </div>                       
    </div>
                        
{# Script slide #}    
<script type="text/javascript">
    $(document).ready(function(){
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            $("#login_form").slideToggle();
            $("#login_form").css("display" , "none");
            $("#action").css("display" , "block");
        {% endif %} 
    });
</script>
    
{% endblock %}
